<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.makelove.settings" platformBuildVersionCode="21" platformBuildVersionName="APKTOOL">
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:process="com.android.settings" android:theme="@style/Theme.xninx">
        <activity android:label="@string/app_name" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.android.settings.MANUFACTURER_APPLICATION_SETTING"/>
                <action android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mi.a.StatusSettingActivity"/>
        <activity android:name="com.mi.a.ShakeActivity"/>
        <activity android:name="com.cpuset.ActivitySeting"/>
        <activity android:name="com.ficeto.customsettings.SettingsActivity"/>
        <activity android:name="com.mi.a.StatuskeyActivity"/>
        <activity android:name="com.mi.a.Status_BatteryLine_Activity"/>
        <activity android:name="com.wazls.home.SActivity"/>
        <activity android:name="com.deskangel.kblight.kbLight"/>
        <activity android:name="com.mi.a.DpiSettings"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
</manifest>
